.profile__user {
    margin-left: 31px;
    min-width: 189px;
    max-width: 294px;
}

@media screen and (max-width: 800px) {
    .profile__user {
        margin: 26px 10px 35px 25px;
        
    }
    
}