.page {
    background-color: #000000;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    width: 100%;
    padding: 45px 0 60px;
}