.gallery {
    grid-template-columns: repeat(auto-fill, minmax(282px, 282px));
    grid-gap: 17px;
    justify-items: center;
    justify-content: center;
    display: grid;
}

@media screen and (max-width: 320px) {
    .gallery {
        grid-template-columns: 282px;
        grid-gap: 19px;
    }
    
}