.edit-form__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    height: 330px;
    background: #fff;
    margin: 0 auto;
    padding: 36px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}