.profile__subtitle {
    margin: 6px 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 570px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    
}