.profile__edit-btn {
    background-color: #000;
    background-image: url(../../../images/profile__edit-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    min-width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    margin: 14px 0 0 24px;
}

.profile__edit-btn:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 800px) {
    .profile__edit-btn {
        min-width: 18px;
        height: 18px;
        margin: 0 0 29px;
        
    }
    
}