.input__text {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    line-height: 17px;
}

.input__text:focus {
    outline: none;
}

.input__text:first-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 570px) {
    .input__text {
        width: 238px;
    }
    
}