.popup__close-btn {
    background-image: url(../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -39px;
    right: -38px;
    transition: all 0.3s ease;
}

.popup__close-btn:hover {
    cursor: pointer;
    background-image: url(../../../images/close-icon-hover.svg);
}


@media screen and (max-width: 570px) {
    .popup__close-btn {
        background-size: 20px;
        top: -33px;
        right: -12px;
    }
    
}