.popup__text {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(128, 75, 75, 0.2);
    font-size: 14px;
    line-height: 17px;
}

.popup__text:focus {
    outline: none;
}

.popup__text:first-child {
    margin: 0 0 30px;
}

@media screen and (max-width: 570px) {
    .popup__text {
        width: 238px;
    }
    
}